<footer class="footer">
  <small>
    The sample app by Vineet souri
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://vineetsouri.github.io">My Website</a></li>
    </ul>
  </nav>
</footer>